body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.searchFilter {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

.vbottom{
  position: absolute;
  bottom: 10px;
  width: 93%;

}

.bottom {
  position: absolute;
  bottom: 0;
  width: 93%
}

#breadcrumb {
  background-color: white;
  padding-left: 0;
}

.full-width {
  width: 100%;
}

.grad-btn {
  background: linear-gradient(98.71deg, #4DB1DC 1.86%, #496BC2 100%);
  color: white !important;
  border: transparent !important;
}